<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
  <%= label_tag :search, "Search Restaurants by Name:" %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants" %>
  <%= submit_tag "Search", :name => nil, :cuisine => nil %>
<% end %>

<% @restaurants.each do |restaurant| %>
  
    <h3><%= link_to restaurant.name, restaurant %></h3>
    <p><%= restaurant.address %></p>

<% end %>