
<br/>
<% if !@query.nil? %>
  <strong>Select a Price Range:</strong>
    <ul>
      <% for row in @query.facet(:price).rows %>
        <% if params[:price_range].blank? %>
          <li><%= link_to row.value, :price_range => row.value, :search => params[:search] %> (<%= row.count %>)</li>
        <% else %>
          <li><%= row.value %> (<%= link_to "X", :price_range => nil %>)</li>
        <% end %>
      <% end %>
    </ul>
<% end %>  
<br/>



<% @restaurants.each do |restaurant| %>
  
    <h3><%= link_to restaurant.name, restaurant %></h3>
    <p><%= restaurant.address %></p>

<% end %>